header{
    display: flex;
    background-color: black;
}
header img{
    padding: 1rem 0 1rem 2rem;
    max-height: 4rem;
}
.firstName{
    color: red;
}
.barchart{
    width: 60%;
    padding: 2rem 1rem 1rem 1rem;
    background-color: #FBFBFB;
    border-radius: 10px;
}
.stats, .score, .nutriscore, .nutriscore div{
    display: flex;
}
.score{
    justify-content: space-around;
}
.stats{
    margin-left: 5rem;
}
.areachart, .radarchart, .piechart{
    font-weight: 700;
    height: 300px;  
    width: 300px;
    margin: 1rem;
    border-radius: 10px;  
} 
.areachart{
    padding: 0 5px 0 5px;
    background-color: red;
}
.radarchart{
    background-color: #282D30;
}
.piechart{
    background-color: #FBFBFB;
}
.piechart p{
    margin-left: 1rem;
}
.nutriscore{
    flex-direction: column;
    width: 10%
}
.nutriscore p{
    font-weight: bold;
}
.nutriscore div{
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #FBFBFB;
}
.nutriscore img{
    width: 50px;
    margin-right: 2rem;
}
aside{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: fit-content;
    height: 780px;
}
aside img{
    display: flex;
    margin: 0.5rem 2rem 0.5rem 2rem;
    width: 3rem;
}
aside p{
    position: relative;
    top: 9rem;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.dashboard{
    margin-top: 2rem;
    width: 90%;
    float: right;
}
nav{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
}
.userChoice{
    text-align: center;
    margin-top: 10rem;
    font-size: 36px;
}